@import url('https://fonts.googleapis.com/css2?family=Plaster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h2 {font-family: 'Plaster', cursive;}
h1,h3,div,p,a {font-family: 'Open Sans', sans-serif;}


.nav-div {
    max-width : 400px;
    margin : auto;
}
.nav-head {
    max-width : 400px;
    margin : auto;
}
.navigation{
    background-image : url("https://w.wallhaven.cc/full/01/wallhaven-0172q1.jpg");
    width : 120vw;
    height : 100vh;
    display : block
    overflow: auto;
    background-size: 100%;
    background-repeat:no-repeat;
    position: relative;
}

.nav-link {
    text-decoration: none;
    font-size: 25px;
}
